* {
  text-align: center;
  font-family: Poppins;
}

.header {
  background-color: rgb(145, 222, 240);
  border-radius: 10px;
  color: white;
  margin-bottom: 0;
  font-size: 40px;
  display: inline-block;
  padding: 5px 9dvb;
  margin-top: 0px;
  margin-bottom: -5px;
}

.footer, .textbox, .convert, .stop {
  background-color: rgb(145, 222, 240);
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 32px;
  border-radius: 10px;
  padding: 4px 10px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.textbox, .convert, .stop {
  border: none;
  color: white;
  width: auto;
  padding: 4px 7px !important;
  width: 350px;
  margin-bottom: 8px;
}

.textbox::placeholder {
  color: white;
  opacity: 0.7;
}

.textbox:focus {
  border: none;
  outline: none;
}

.convert, .stop {
  width: auto;
  font-size: 30px;
  padding: 7px 15px !important;
  cursor: pointer;
  transition: opacity 0.15s;
  transition: font-size 0.15s;
}

.convert:hover, .stop:hover{
  opacity: 0.7;
  font-size: 32px;
}

.convert:active, .stop:active{
  opacity: 0.5;
  font-size: 35px;
}

span {
  font-size: 50px;
}